h3 {
    font-size: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #e7f5ff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 리스트 스크롤 영역 제한 */
.recent-list,
.post-list {
    max-height: 250px;
    overflow-y: auto;
}

/* 스크롤바 스타일 */
.recent-list::-webkit-scrollbar,
.post-list::-webkit-scrollbar {
    width: 8px; /* 두께 */
}

.recent-list::-webkit-scrollbar-thumb,
.post-list::-webkit-scrollbar-thumb {
    background-color: #000; /* 검정 */
    border-radius: 10px;
}

.recent-list::-webkit-scrollbar-track,
.post-list::-webkit-scrollbar-track {
    background: #e0e0e0; /* 회색 트랙 */
    border-radius: 10px;
}
